__pycache__
mcp_server/logs/mcp_server.log
mcp_server/logs/mcp_runner.log
mcp_server/logs/mcp_hotkey_listener.log
mcp_server/logs/hotkey_service.log
mcp_server/logs/hotkey_core.log
mcp_server/prompts
mcp_server/hotkeys
work
.env