__pycache__
mcp_server/logs/mcp_server.log
mcp_server/logs/mcp_hotkey_listener.log
mcp_server/logs/hotkey_service.log
mcp_server/logs/hotkey_core.log
mcp_server/logs/pipeline
mcp_server/logs/websocket
mcp_server/logs/multi_agent/*
!mcp_server/logs/multi_agent/readme.md
mcp_server/logs/webhook
mcp_server/config/cookies/*
mcp_server/config/prompt/*
mcp_server/config/http_client/*
mcp_server/config/email_client/*
!mcp_server/config/prompt/default_rag.prompt
!mcp_server/config/prompt/multi_agent_default.prompt
mcp_server/config/hotkey
mcp_server/config/webhook
mcp_server/config/websocket
work
.env