__pycache__
logs/mcp_server.log
logs/mcp_hotkey_listener.log
logs/hotkey_service.log
logs/hotkey_core.log
logs/pipeline
logs/websocket
logs/telegram
logs/multi_agent/*
!logs/multi_agent/readme.md
logs/webhook
config/cookies/*
config/prompt/*
config/telegram/*
config/http_client/*
config/email_client/*
!config/prompt/default_rag.prompt
!config/prompt/multi_agent_default.prompt
config/hotkey
config/webhook
config/websocket